In [1]:
%matplotlib inline
import pandas as pd
tips_df = pd.read_csv("tips.csv")
day_size = pd.crosstab(tips_df["day"], tips_df["size"])
day_size

size  1   2   3   4  5  6
day
Fri   1  16   1   1  0  0
Sat   2  53  18  13  1  0
Sun   0  39  15  18  3  1
Thu   1  48   4   5  1  3

In [4]:
day_counts = tips_df.groupby("day")["obs"].count()
size_givenDay = day_size.divide(day_counts, axis=0)
size_givenDay

size         1         2         3         4         5         6
day
Fri   0.052632  0.842105  0.052632  0.052632  0.000000  0.000000
Sat   0.022989  0.609195  0.206897  0.149425  0.011494  0.000000
Sun   0.000000  0.513158  0.197368  0.236842  0.039474  0.013158
Thu   0.016129  0.774194  0.064516  0.080645  0.016129  0.048387