In [1]:
import pandas as pd
import numpy as np

In [2]:
# ALL RATINGS FOR ALL MAGAZINES 
df_magsubs = pd.read_json('Magazine_Subscriptions.json', lines=True)
df_ratings = df_magsubs[["overall", "reviewerID", "asin"]]
df_ratings

       overall      reviewerID        asin
0            5   AH2IFH762VY5U  B00005N7P0
1            5   AOSFI0JEYU4XM  B00005N7P0
2            3  A3JPFWKS83R49V  B00005N7OJ
3            5  A19FKU6JZQ2ECJ  B00005N7OJ
4            5  A25MDGOMZ2GALN  B00005N7P0
...        ...             ...         ...
89684        5   AB5HCI50SF1TK  B01HI8V1C2
89685        1  A2X11NZMPI7M0T  B01HI8V1C2
89686        5  A3EGFFBRQVO7L7  B01HI8V1C2
89687        5  A3H23AVKFN62ZT  B01HIZSSQM
89688        5  A1N6M7HRWMDE3D  B01HIZSSQM

[89689 rows x 3 columns]

In [86]:
# ALL MAGAZINES AND THEIR GENRE 
df_metamagsubs = pd.read_json('meta_Magazine_Subscriptions.json', lines=True)
df_metamagsubs = df_metamagsubs[["asin", "category"]]
# indexNames = df_metamagsubs[df_metamagsubs['category'] == '[]' ].index
# df_metamagsubs = df_metamagsubs.drop(indexNames , inplace=True)

df_metamagsubs.head(50)

,asin,category
0,B00005N7NQ,"[Magazine Subscriptions, Professional & Educational Journals, Professional & Trade, Humanities & Social Sciences, Economics & Economic Theory]"
1,B00005N7OC,"[Magazine Subscriptions, Arts, Music &amp; Photography, Music]"
2,B00005N7OD,"[Magazine Subscriptions, Fashion &amp; Style, Women]"
3,B00005N7O9,"[Magazine Subscriptions, Sports, Recreation & Outdoors, Sports & Leisure, Flying]"
4,B00005N7O6,"[Magazine Subscriptions, Professional & Educational Journals, Professional & Trade, Transportation]"
5,B00005N7P0,"[Magazine Subscriptions, Technology, Computers &amp; Internet]"
6,B00005N7QG,"[Magazine Subscriptions, Cooking, Food & Wine, Recipes & Techniques]"
7,B00005N7PI,"[Magazine Subscriptions, Professional &amp; Educational Journals, Professional &amp; Trade, Medicine]"
8,B00005N7OP,"[Magazine Subscriptions, Arts, Music & Photography, Art & Art History]"
9,B00005N7Q5,"[Magazine Subscriptions, Sports, Recreation & Outdoors, Sports & Leisure, Hunting & Firearms]"
10,B00005N7PN,"[Magazine Subscriptions, Home & Garden, Design & Decoration]"
11,B00005N7QD,"[Magazine Subscriptions, Sports, Recreation & Outdoors, Sports & Leisure, Golf]"
12,B00005N7O3,"[Magazine Subscriptions, Sports, Recreation &amp; Outdoors, Sports &amp; Leisure, Hunting &amp; Firearms]"
13,B00005N7PG,"[Magazine Subscriptions, Travel, City & Regional]"
14,B00005N7QY,"[Magazine Subscriptions, Pets & Animals]"
15,B00005N7PH,"[Magazine Subscriptions, Business & Investing]"
16,B00005N7QO,"[Magazine Subscriptions, News &amp; Political Commentary, Ideas &amp; Commentary]"
17,B00005N7R7,"[Magazine Subscriptions, Travel, City & Regional, United States, West]"
18,B00005N7OA,"[Magazine Subscriptions, Automotive & Motorcycles, Automotive]"
19,B00005N7R0,"[Magazine Subscriptions, Travel, City & Regional]"
20,B00005N7P8,"[Magazine Subscriptions, Religion & Spirituality, Christianity]"
21,B00005N7OF,"[Magazine Subscriptions, Professional & Educational Journals, Professional & Trade, Humanities & Social Sciences, History]"
22,B00005N7PT,"[Magazine Subscriptions, Science, History &amp; Nature, Nature &amp; Ecology]"
23,B00005N7PR,"[Magazine Subscriptions, Home & Garden, Design & Decoration]"
24,B00005N7OV,"[Magazine Subscriptions, Home & Garden, Design & Decoration]"
25,B00005N7QE,"[Magazine Subscriptions, Sports, Recreation &amp; Outdoors, Sports &amp; Leisure, Golf]"
26,B00005N7RY,"[Magazine Subscriptions, Travel, City & Regional, United States, West]"
27,B00005N7RJ,"[Magazine Subscriptions, News &amp; Political Commentary, Ideas &amp; Commentary]"
28,B00005N7S2,"[Magazine Subscriptions, Sports, Recreation & Outdoors, Sports & Leisure, Hiking & Camping]"
29,B00005N7QI,"[Magazine Subscriptions, Fashion &amp; Style, Men]"
30,B00005N7O4,"[Magazine Subscriptions, Sports, Recreation & Outdoors, Sports & Leisure, Skiing & Snowboarding]"
31,B00005N7RP,"[Magazine Subscriptions, Health, Fitness & Wellness, Health]"
32,B00005N7QW,"[Magazine Subscriptions, Home &amp; Garden, Design &amp; Decoration]"
33,B00005N7S5,"[Magazine Subscriptions, Technology, Computers & Internet]"
34,B00005N7QS,"[Magazine Subscriptions, Business & Investing, Entrepreneurship]"
35,B00005N7Q1,"[Magazine Subscriptions, Home & Garden, How-to & Home Improvements]"
36,B00005N7RV,"[Magazine Subscriptions, Entertainment & Pop Culture, Movies]"
37,B00005N7RD,"[Magazine Subscriptions, Sports, Recreation &amp; Outdoors, Sports &amp; Leisure, Training]"
38,B00005N7RT,"[Magazine Subscriptions, News &amp; Political Commentary]"
39,B00005N7S4,"[Magazine Subscriptions, Technology, Computers & Internet]"
40,B00005N7T1,"[Magazine Subscriptions, Professional & Educational Journals, Professional & Trade, Arts, Crafts & Collectibles]"
41,B00005N7T3,"[Magazine Subscriptions, Travel, City & Regional, United States, South]"
42,B00005N7RO,"[Magazine Subscriptions, Sports, Recreation & Outdoors, Sports & Leisure, Training]"
43,B00005N7OJ,"[Magazine Subscriptions, Home & Garden, Antiques & Collectibles]"
44,B00005N7SM,"[Magazine Subscriptions, Fashion & Style, Beauty]"
45,B00005N7TD,"[Magazine Subscriptions, Travel, City & Regional, United States, Northeast]"
46,B00005N7SC,"[Magazine Subscriptions, Science, History & Nature, Essays & Commentary]"
47,B00005N7PL,"[Magazine Subscriptions, Cooking, Food &amp; Wine, Recipes &amp; Techniques]"
48,B00005N7TM,"[Magazine Subscriptions, Fashion & Style, Women]"
49,B00005N7UG,"[Magazine Subscriptions, Sports, Recreation & Outdoors, Sports & Leisure, Water Sports]"

In [4]:
df_metamagsubs = df_metamagsubs.loc[df_metamagsubs.astype(str).drop_duplicates().index]
df_metamagsubs

,asin,category
0,B00005N7NQ,"[Magazine Subscriptions, Professional & Educational Journals, Professional & Trade, Humanities & Social Sciences, Economics & Economic Theory]"
1,B00005N7OC,"[Magazine Subscriptions, Arts, Music &amp; Photography, Music]"
2,B00005N7OD,"[Magazine Subscriptions, Fashion &amp; Style, Women]"
3,B00005N7O9,"[Magazine Subscriptions, Sports, Recreation & Outdoors, Sports & Leisure, Flying]"
4,B00005N7O6,"[Magazine Subscriptions, Professional & Educational Journals, Professional & Trade, Transportation]"
...,...,...
3380,B01HI8V19K,[]
3381,B01HI8V1I6,"[Magazine Subscriptions, Sports, Recreation & Outdoors, Sports & Leisure, Extreme Sports]"
3382,B01HI8V0ZK,"[Magazine Subscriptions, Fashion & Style]"
3383,B01HI8V1C2,[]
3384,B01HI8V1MC,[]

In [5]:
# BREAKING UP ALL THE GENRES AND COUNTING THEM WITH 1 OR 0
magGenres = df_metamagsubs.copy()

#For every row in the dataframe, iterate through the list of genres and place a 1 into the corresponding column
for index, row in df_metamagsubs.iterrows():
    for genre in row['category']:
        magGenres.at[index, genre] = 1
        
#Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
magGenres = magGenres.fillna(0)
magGenres.drop(['Magazine Subscriptions'], axis = 1, inplace=True)
magGenres.drop(['category'], axis = 1, inplace=True)
magGenres.head()

/Users/Vincent/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1684: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.obj[key] = infer_fill_value(value)

,asin,Professional & Educational Journals,Professional & Trade,Humanities & Social Sciences,Economics & Economic Theory,"Arts, Music &amp; Photography",Music,Fashion &amp; Style,Women,"Sports, Recreation & Outdoors",...,Racket Sports,Spanish-Language,Interior Design,Country Life,Alternative & Holistic,Girls,Mathematics,Animals,Agricultural Sciences,Soccer
0,B00005N7NQ,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,B00005N7OC,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,B00005N7OD,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,B00005N7O9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,B00005N7O6,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
# USER WE ARE RECOMMENDING TO 
from scipy.sparse import csr_matrix
userInput = [ 
    {'asin':'B00005N7P0', 'overall':2},
     {'asin':'B000063XJL', 'overall':1},
     {'asin':'B00005N7S2', 'overall':5},
    {'asin':'B00005N7O9', 'overall': 5},
    {'asin':'B00005N7RD', 'overall': 5},
    ]
inputMags = pd.DataFrame(userInput)
inputMags

         asin  overall
0  B00005N7P0        2
1  B000063XJL        1
2  B00B8C8V5K        5
3  B00005N7O9        5
4  B00005N7RD        5

In [80]:
pd.set_option('display.max_columns', None)
#userMags = magGenres[magGenres['asin'].isin(inputMags['asin'].tolist())]
userMags = df_metamagsubs[df_metamagsubs['asin'].isin(inputMags['asin'].tolist())]
userMags

,asin,category
3,B00005N7O9,"[Magazine Subscriptions, Sports, Recreation & Outdoors, Sports & Leisure, Flying]"
5,B00005N7P0,"[Magazine Subscriptions, Technology, Computers &amp; Internet]"
37,B00005N7RD,"[Magazine Subscriptions, Sports, Recreation &amp; Outdoors, Sports &amp; Leisure, Training]"
230,B000063XJL,"[Magazine Subscriptions, Children & Teen, Children, By Age, Ages 9-12]"

In [81]:
userMags = userMags.reset_index(drop=True)

#Dropping unnecessary issues due to save memory and to avoid issues
userGenreTable = userMags.drop(['asin'], axis = 1)
userGenreTable

                                                                                      category
0            [Magazine Subscriptions, Sports, Recreation & Outdoors, Sports & Leisure, Flying]
1                               [Magazine Subscriptions, Technology, Computers &amp; Internet]
2  [Magazine Subscriptions, Sports, Recreation &amp; Outdoors, Sports &amp; Leisure, Training]
3                       [Magazine Subscriptions, Children & Teen, Children, By Age, Ages 9-12]

In [82]:
inputMags['overall']

0    2
1    1
2    5
3    5
4    5
Name: overall, dtype: int64

In [83]:
userProfile = userGenreTable.transpose().dot(inputMags['overall'])

#The user profile
userProfile

ValueError: matrices are not aligned

In [ ]:
genreTable = magGenres.set_index(magGenres['asin'])
for index, row in userMags.iterrows():
    genreTable = genreTable[genreTable.asin != row.asin]
genreTable.drop(['asin'], axis = 1, inplace=True)
genreTable

In [84]:
genreTable.shape

(2315, 226)

In [85]:
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

asin
B00005N7NQ    0.000000
B00005N7OC    0.102041
B00005N7OD    0.000000
B00005N7O9    0.000000
B00005N7O6    0.000000
dtype: float64

In [75]:
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)

#Just a peek at the values
recommendationTable_df.head()

asin
B00006KPSW    0.408163
B00006K37V    0.408163
B000071FIR    0.408163
B00006K6FV    0.408163
B00006KJJZ    0.408163
dtype: float64

In [76]:
df_metamagsubs.loc[df_metamagsubs['asin'].isin(recommendationTable_df.head(5).keys())]

,asin,category
302,B00006K37V,"[Magazine Subscriptions, Children & Teen, Children, By Age, Ages 9-12]"
387,B00006KJJZ,"[Magazine Subscriptions, Children & Teen, Children, By Age, Ages 9-12]"
388,B00006K6FV,"[Magazine Subscriptions, Children & Teen, Children, By Age, Ages 9-12]"
523,B00006KPSW,"[Magazine Subscriptions, Children & Teen, Children, By Age, Ages 9-12]"
673,B000071FIR,"[Magazine Subscriptions, Children & Teen, Children, By Age, Ages 9-12]"